* {
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
*:focus
{
    outline: none;
}

/*
Код ниже, кторый связан с переключаемым чекбоксом взят от сюда, и минимально подкорректирован:
https://codepen.io/himalayasingh/pen/EdVzNL
 */
.toggle-button-cover
{
    position: relative;
    left: 110px;
    width: 100px;
    height: 70px;
    box-sizing: border-box;
    order: 1;
    transition: 0.3s all;
}


.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 100px;
    height: 45px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    box-sizing: content-box;
    border: 3px solid #E64A19;
}

.button, .button .layer
{
    border-radius: 5px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    content: 'train';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding: 9px 4px;
    background-color: #FF9800;
    border-radius: 5px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'play';
    left: 58px;
    background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}
/*
Тут воровство кода заканичвается)
 */



footer {
    position: absolute;
    width: 100%;
    background: #FF5722;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    z-index: 10;
    bottom: 0;
    height: 60px;
    border-top: 3px solid #E64A19;
}

.info-container {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 45px;
}

.star-container {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 52px;
    width: 225px;
    border-radius: 5px;
    transition: 0.3s all;
    box-sizing: content-box;
    border: 2px solid #E64A19;
}
.star {
    margin-top: 1px;
    margin-right: 2px;
    width: 23px;
    height: 23px;
}

.school-img {
    height: 30px;
}
.git-img {
    margin-right: 10px;
    height: 30px;
}
.info-in-footer {
    margin-left: 20px;
    width: 70px;
    font-size: 0.7em;
}

.btn-start-game {
    position: relative;
    left: 25px;
    display: none;
    transition: 0.3s all;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #E64A19;
    background: #FF9800;
}
.btn-start-game:hover {
    cursor: pointer;
    background: #FF8000;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FF5722;


    z-index: 10;
    top: 0;
    height: 70px;
    border-bottom: 4px solid #E64A19;
}


.under-head {
    padding: 0 20px 0 20px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status-page {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

.title-text {
    transition: 0.3s all;
    order: 2;
    font-size: 2.5em;
    margin-right: 30px;
    font-weight: normal;
    color: #212121;
}

.burger-btn {
    order: 0;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    transition: 0.3s all;
    cursor: pointer;
}

.bg-menu {
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0;
    width: 300px;
    height: 83vh;
    background: #FFFFFF;
    display: block;
    font-size: 1.5em;



    border-right: 4px solid #E64A19;

    transition: 0.7s all;

    z-index: 5;
}

.bg-menu-hidden {
    font-size: 0px;
    width: 0px;
    left: -5px;
}

.list-container {
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.element-menu {
    position: relative;
    color: #212121;
    transition: 0.1s all;
    cursor: pointer;
}

.active-element-menu {
    font-weight: bold;
    color: #E64A19;
}

.cards-container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 1500px;
    max-height: 78vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #E64A19;
    border-radius: 3px;
}

.cards-main {
    margin: 20px;
    cursor: pointer;
    width: 306px;
    height: 250px;
    transition: 0.1s all;
    border: 4px solid #E64A19;
    border-radius: 5px;
    background: #FF9800;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.card-cont {
    position: relative;
    margin: 20px;
    width: 306px;
    height: 250px;
    bottom: 0px;
    border-radius: 5px;
    transition: bottom 0.3s;
}
.cards {
    position: relative;
    perspective: 1000px;
    width: 306px;
    height: 250px;
    border: 4px solid #E64A19;
    border-radius: 5px;
    background: linear-gradient(43deg, rgba(255,198,180,1) 31%, rgba(255,152,0,1) 53%, rgba(0,212,255,1) 91%);
    transition: transform 1s, box-shadow 0.3s, bottom 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 5px 3px 10px rgba(0,0,0,0.5);
}
.cards:hover {
    box-shadow: 8px 5px 10px rgba(0,0,0,0.5);
}

.card-cont:hover {
    bottom: 2px;
}


.btn-revers {
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    right: 2px;

    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 3px solid #E64A19;
    box-sizing: content-box;
}

.btn-revers:hover {
    box-shadow: 0 0 12px 8px #E64A19;
}

.btn-revers-img {
    width: 30px;
    height: 30px;
}

.cards-main-img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.cards-img {
    transition: 0.3s all;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    z-index: 0;
}

.cards-main > p {
    font-size: 1.5em;
    margin-bottom: 6px;
}

.cards > p {
    font-size: 1.5em;
    margin-bottom: 6px;
}

.win-fail-container {
    display: none;
    font-size: 1.5em;
    width: 300px;
    height: 350px;
}

.win-fail-img {
    display: none;
    width: 300px;
    height: 300px;
}
.win-text {
    text-align: center;
}

.stat-container {
    top: 15vh;
    width: 100%;
}

.btn-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn-reset-stat {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #E64A19;
    background: #FF9800;
}

.btn-diff-words {
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #E64A19;
    background: #FF9800;
}

table {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

tr:nth-child(2n) {
    background: lightgray;
}

th {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    background: #FF5722;
}
td {
}

.table_sort tbody tr:nth-child(even) {
    background: #e3e3e3;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}


@media screen and (max-width: 1830px) {
    .cards-container {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 750px) {
    .title-text {
        font-size: 1.5em;
    }
    .toggle-button-cover {
        left: 0px;
    }
    .info-container {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    th {
        text-align: center;
        font-weight: bold;
        font-size: 0.8rem;
        background: #FF5722;
    }
    td {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 450px) {
    .title-text {
        display: none;
    }

    .toggle-button-cover {
        left: 0px;
        margin-right: 100px;
    }
    .star-container {
        height: 40px;
        width: 120px;
    }
    .star {
        width: 11px;
        height: 11px;
    }
    .btn-start-game {
        width: 80px;
        height: 30px;
    }
}